<div class="card mb-3">
  <h3 class="card-header">Article Details</h3>
  <div class="card-body">
    <h5 class="card-title">{{ this.data.designation }}</h5>
    <h6 class="card-subtitle text-muted">{{ this.data.marque }}</h6>
  </div>
  <div class="card-group">
    <button type="button" class="btn-secondary">
      <fa-icon [icon]="faAngleLeft"></fa-icon>
    </button>
    <div class="card" *ngFor="let img of this.data?.imageartgrandf">
      <img
        width="80%"
        style="border-radius: 15px; align-self: center"
        [src]="'http://localhost:3000/api/articles/photos/' + img"
        [alt]="img"
      />
      <!-- <div class="card-body">
        <h5 class="card-title">bbbbbb</h5>

        <p class="card-text">Uploaded by ssss on ddddd</p>

        <p class="card-text">aaaa</p>

        <hr />

        <p class="card-text">
          <small class="text-muted">cccccc</small>
        </p>
      </div> -->
    </div>
    <button type="button" class="btn-secondary">
      <fa-icon [icon]="faAngleRight"></fa-icon>
    </button>
  </div>
  <!-- <img src="assets/img/img2.jpg" width="100%" height="200" /> -->
  <div class="card-body">
    <p class="card-text">
      {{ this.data.caracteristiques }}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Réference: {{ this.data.reference }}</li>
    <li class="list-group-item">
      Catégorie: {{ this.data.categorie?.nomCategorie }}
    </li>
    <li class="list-group-item">
      Sous Catégorie: {{ this.data.scategorie?.nomSCategorie }}
    </li>
    <li class="list-group-item">Prix de vente: {{ this.data.prixVente }}</li>
    <li class="list-group-item">Prix d'achat: {{ this.data.prixAchat }}</li>
    <li class="list-group-item">Prix solde: {{ this.data.prixSolde }}</li>
    <li class="list-group-item">Quantité en stock: {{ this.data.qteStock }}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Modifier</a>
    <a href="#" class="card-link text-primary">Supprimer</a>
  </div>
  <div class="card-footer text-muted">2 days ago</div>
</div>
