<app-nav-categories></app-nav-categories>

<table
  *ngIf="scategories"
  class="table table-hover table-striped table-bordered mb-5"
>
  <thead>
    <tr>
      <th scope="col">Icon</th>
      <th scope="col">Nom</th>
      <th scope="col">Nom Catégorie</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let scategorie of scategories; let i = index"
      [ngClass]="{ 'table-active': !(i % 2) }"
    >
      <td>
        <img
          width="70vw"
          src="http://localhost:3000/api/articles/photos/{{
            scategorie.iconSCategorie
          }}"
        />
      </td>
      <td>{{ scategorie.nomSCategorie }}</td>
      <td>{{ scategorie.categorie?.nomCategorie }}</td>
      <td>
        <button
          type="button"
          [routerLink]="[scategorie._id, 'edit']"
          class="btn btn-outline-light m-1"
        >
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>

        <button
          type="button"
          [routerLink]="[scategorie._id]"
          class="btn btn-outline-info m-1"
        >
          <fa-icon [icon]="faInfoCircle"></fa-icon>
        </button>
        <button
          type="button"
          (click)="onDelete(scategorie._id)"
          class="btn btn-outline-danger m-1"
        >
          <fa-icon [icon]="faTrashAlt"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
